
#main {
	position: relative;
}

#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("mickey.jpg"); 
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
}

.castle {
	position: static;
	height: 100%;
	width: 100%;
}

.parade {
	position: static;
	height: 30%;
	width: 30%;
}	

div {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
body {

	color: black;
	background-color: paleGreen;	
	
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

h1 {
	color: Blue;
	font-family: cursive;
}


